<mat-tab-group class="menu-container container">
    <mat-tab label="Pho - The Hanoian's spirit">
      <div id="phobo">
        <ul>
          <li>
            <h2> Pho bo - The rice noodle soup with beef</h2>
          </li>
          <li>
            <div id="phobo1"></div>
          </li>
        </ul>
      </div>
      <div id="phoga">
        <ul>
          <li>
            <h2> Pho ga - The rice noodle soup with chicken</h2>
          </li>
          <li>
            <div id="phoga1"></div>
          </li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="Starter">
      <div id="nemran">
        <ul>
          <li>
            <h2> The Hanoi-style fried springroll</h2>
          </li>
          <li>
            <div id="nemran1"></div>
          </li>
        </ul>
      </div>
      <div id="phocuon">
        <ul>
          <li>
            <h2> Fresh rice noodle rolls with beef</h2>
          </li>
          <li>
            <div id="phocuon1"></div>
          </li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="Main Courses">
      <div id="thitkho">
        <ul>
          <li>
            <h2> Stewed pork with caramel sauce</h2>
          </li>
          <li>
            <div id="thitkho1"></div>
          </li>
        </ul>
      </div>
      <div id="garang">
        <ul>
          <li>
            <h2> Stir-fried chicken with ginger and lemongrass</h2>
          </li>
          <li>
            <div id="garang1"></div>
          </li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="Price">
      <h1>Enjoy the experience at a reasonable price</h1>
      <h2>Group 2 persons: $30/person</h2>
      <h2>Group 3-5 persons: $27/person</h2>
      <h2>Group 6-10 persons: $25/person</h2>
      <h2>Group over 10 persons: $20/person</h2>
      <br>
      <a href="about#contact" class="btn btn-outline-dark btn-lg">Contact us now!</a>
    </mat-tab>
  </mat-tab-group>