<div class="about">
  <div class="banner">
    <h1> Hanoi Xua <br> Restaurant & Cooking class </h1>
  </div>

  <div class="aboutus">
    <h1>About us</h1>
    <h1>Hanoi Xua - The Old Hanoi Restaurant</h1>
    <h2>We’ve partnered the finest traditional Vietnamese food with inspired contemporary cuisine, which are presented
      with warm service in a unique and beautiful space designed from bamboo and lantern. You are invited to The Old
      Hanoi Restaurant at anytime, with a la carte and set menus served throughout the day and a unique old Hanoi
      afternoon tea.</h2>
  </div>

  <div class="banner2">
    <h1> The Hanoian's Classic Cuisine </h1>
    <h2> The classic style - The original flavour </h2>
  </div>


  <div id="contact">
    <h1>Contact us</h1>
    <h2>Address: 35 Dao Duy Tu Str., Hanoi</h2>
    <h2>Reservation number: <font color="#337ab7">+84 94 674 70 88</font>
    </h2>
    <h2>Reservation email: <font color="#337ab7">haiyen35daoduytu@gmail.com</font>
    </h2>
    <h2>Or you can contact us via <a href="https://www.facebook.com/theoldhanoi/?ref=br_rs">Facebook</a> or <a
        href="https://www.tripadvisor.com.vn/Restaurant_Review-g293924-d12162711-Reviews-The_Old_Hanoi_Restaurant_Cooking_Class-Hanoi.html">Tripadvisor</a>.
    </h2>
  </div>
</div>