<div class="cooking">
  <div id="classbanner">
    <h1> The Hanoian's Cooking Class </h1>
    <h2> Learn how to cook Vietnamese dishes </h2>
  </div>
  <div id="classinfo">
    <h1> About Our Cooking Class ...</h1>
    <h2> Our Cooking Class was born in 2018 with a very important mission to introduce Vietnamese authentic cuisines to
      global friends visiting to Vietnam. If you love Vietnamese specialty dishes, especially dishes in Hanoi Xua - The
      Old Hanoi Restaurant, this is great chance for you to learn more about this. <br> <br> Let’s join us & get your
      most memorable experience in Vietnam!</h2>
  </div>
  <div id="class1">
    <h1> Let's go to the market </h1>
    <h2> And looking for some freshest ingredients</h2>
  </div>
  <h1 class="classHeader">Is cooking time <br> Impress your diners with delicious vietnamese dishes bellow  </h1>
  <mat-tab-group>
    <mat-tab label="Pho - The Hanoian's spirit">
      <div id="phobo">
        <ul>
          <li>
            <h2> Pho bo - The rice noodle soup with beef</h2>
          </li>
          <li>
            <div id="phobo1"></div>
          </li>
        </ul>
      </div>
      <div id="phoga">
        <ul>
          <li>
            <h2> Pho ga - The rice noodle soup with chicken</h2>
          </li>
          <li>
            <div id="phoga1"></div>
          </li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="Starter">
      <div id="nemran">
        <ul>
          <li>
            <h2> The Hanoi-style fried springroll</h2>
          </li>
          <li>
            <div id="nemran1"></div>
          </li>
        </ul>
      </div>
      <div id="phocuon">
        <ul>
          <li>
            <h2> Fresh rice noodle rolls with beef</h2>
          </li>
          <li>
            <div id="phocuon1"></div>
          </li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="Main Courses">
      <div id="thitkho">
        <ul>
          <li>
            <h2> Stewed pork with caramel sauce</h2>
          </li>
          <li>
            <div id="thitkho1"></div>
          </li>
        </ul>
      </div>
      <div id="garang">
        <ul>
          <li>
            <h2> Stir-fried chicken with ginger and lemongrass</h2>
          </li>
          <li>
            <div id="garang1"></div>
          </li>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="Price">
      <h1>Enjoy the experience at a reasonable price</h1>
      <h2>Group 2 persons: $30/person</h2>
      <h2>Group 3-5 persons: $27/person</h2>
      <h2>Group 6-10 persons: $25/person</h2>
      <h2>Group over 10 persons: $20/person</h2>
      <br>
      <a href="about#contact" class="btn btn-outline-dark btn-lg">Contact us now!</a>
    </mat-tab>
  </mat-tab-group>
</div>