mat-grid-tile {
    background: lightblue;  
    flex: 50%;
  }

.gallery-header {
    margin-top: 100px;
}

.gallery-header h2 {
    text-align: center;
    font-size: 8vw;
    font-family: font2;
}

.image-gallery {
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

mat-grid-tile:hover .overlay {
    opacity: 1;
}
