<div class="footer position-fixed text-light">
  <footer>
    <div class = "float-left">
      &copy;The Old Hanoi <br> Restaurant | Cooking class
    </div>
    <div class = "float-right">
      <div>
        <a class="social-logo" href="https://www.facebook.com/theoldhanoi/?ref=br_rs">
          <img style="padding-top: 0.3rem; border-radius: 10px;" src="../../../assets/images/social/facebook.png" alt=" ">
        </a> 
        <a  class="social-logo" href="https://www.tripadvisor.com.vn/Restaurant_Review-g293924-d12162711-Reviews-The_Old_Hanoi_Restaurant_Cooking_Class-Hanoi.html">
          <img style="padding-top: 0.3rem; border-radius: 10px;" src="../../../assets/images/social/tripadvisor-logo.png" alt=" ">
        </a>
      </div>
    </div>
  </footer>
</div>