<div class="footer position-fixed text-light">
  <footer>
    <div class = "float-left">
      &copy; 2018 The Old Hanoi <br> Restaurant | Cooking class
    </div>
    <div class = "float-right">
      Checking out our  <a href="https://www.facebook.com/theoldhanoi/?ref=br_rs">Facebook</a> or read <br> about us on <a href="https://www.tripadvisor.com.vn/Restaurant_Review-g293924-d12162711-Reviews-The_Old_Hanoi_Restaurant_Cooking_Class-Hanoi.html">Tripadvisor</a>. Cheers!
    </div>
  </footer>
</div>