.footer {
    width: 100%;
    bottom: 0;
    background-color: rgba(34, 34, 34, 0.8);
    z-index: 1;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: grey;
    text-decoration: none;
}