<div>
  <form #loginForm="ngForm">
    <table class="table login-dialog">
      <tr>
        <th>UserName</th>
        <th>
          <mat-form-field>
            <input matInput type="text" placeholder="Username" [(ngModel)]="username" name="username" required>
          </mat-form-field>
        </th>
      </tr>
      <tr>
        <th>Password</th>
        <th>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          </mat-form-field>
        </th>
      </tr>
      <div>
      </div>
    </table>
  </form>
  <div class="btn-login">
    <p class="text-danger" >{{errorMsg}}</p>
    <button class="btn btn-outline-primary" mat-button (click)="btnClose()">Cancel</button>
    <button class="btn btn-outline-primary" mat-button (click)="btnLogin()" [disabled]="!loginForm.valid">Login</button>
  </div>
</div>